#root {
 
  margin: 0 ;
  padding: 0;
 
}


*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
	--bg: #062fe8;
	--nav: hsl(0 0% 100%);
	--color: hsl(0 0% 10%);
}

:root.dark {
	--bg: hsl(0 0% 0%);
	--nav: hsl(0 0% 14%);
	--color: hsl(0 0% 90%);
}

body {
	place-items: center;
	min-height: 100vh;
	font-family:  "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
	background: var(--bg);
	color: var(--color);
}